[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
flake8 = "*"
black = "*"
pytest = "*"
pytest-cov = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
black = "*"
flake8 = "*"
pep8-naming = "*"
flake8-docstrings = "*"
flake8-import-order = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
